{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<script>
setTimeout (() => {
    $(".alert").alert("close")
},3000)
</script>
<!-- breadcrumbs start-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'user_app:account' %}">Account</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="">Add Address</a></li>
    </ol>
  </nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- alert box  -->
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    <strong>{{message}}</strong>
                </div>
            {% endfor %}
            {% endif %}
            <!-- Add Address Form Card -->
            <div class="card shadow-sm">
                <div class="card-header  text-white" style="background-color: #ff3368;">
                    <h4 class="text-center text-white">Add New Address</h4>
                </div>
                <div class="card-body">
                    <form id="address_form" action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="address_type">Address Type</label>
                            <select id="address_type" name="address_type" class="form-control" required>
                                <option value="H">Home</option>
                                <option value="O">Office</option>
                                <option value="OT">Other</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="street_address" class="form-label">Street Address*</label>
                            <input type="text" class="form-control" id="street_address" name="street_address" {% if street_address %} value="{{street_address}}" {% endif %} required>
                            <div id="street-warning" style="display:none; color: red;">Please enter a valid street address. Street address only contains letters, numbers ',' '()'.</div>
                        </div>

                        <div class="mb-3">
                            <label for="landmark" class="form-label">Landmark</label>
                            <input type="text" class="form-control" id="landmark" name="landmark"  {% if landmark %} value="{{landmark}}" {% endif %}>
                            <div id="landmark-warning" style="display:none; color: red;">Please enter a valid landmark. landmark only contains letters, numbers ',' '()'.</div>
                        </div>

                        <div class="mb-3">
                            <label for="state" class="form-label">State*</label>
                            <select class="form-control" id="state" name="state" required size="5" style="max-height: 150px; overflow-y: auto;">
                                <option value="" disabled selected>Select your state</option>
                                <option value="Andhra Pradesh" {% if state == "Andhra Pradesh" %} selected {% endif %}>Andhra Pradesh</option>
                                <option value="Goa" {% if state == "Goa" %} selected {% endif %}>Goa</option>
                                <option value="Karnataka" {% if state == "Karnataka" %} selected {% endif %}>Karnataka</option>
                                <option value="Kerala" {% if state == "Kerala" %} selected {% endif %}>Kerala</option>
                                <option value="Tamil Nadu" {% if state == "Tamil Nadu" %} selected {% endif %}>Tamil Nadu</option>
                                <option value="Telangana" {% if state == "Telangana" %} selected {% endif %}>Telangana</option>
                            </select>
                            <div id="state-warning" style="display:none; color: red;">Please choose a state.</div>
                        </div>               
                        

                        <div class="mb-3">
                            <label for="country" class="form-label">Country*</label>
                            <input type="text" class="form-control" id="country" name="country" value="India"required>
                            <div id="country-warning" style="display:none; color: red;">Please enter a valid country. country only contains.</div>
                        </div>

                        <div class="mb-3">
                            <label for="postal_code" class="form-label">Postal Code*</label>
                            <input type="number" class="form-control" id="postal_code" name="postal_code" {% if postal_code %} value="{{postal_code}}" {% endif %} required>
                            <div id="postal-warning" style="display:none; color: red;">Please enter a 6 digit postal code.</div>
                            <div id="postal-start-warning" style="display:none; color: red;">Postal code cannot start with 0.</div>
                        </div>

                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone*</label>
                            <input type="number" class="form-control" id="phone" name="phone" {% if phone %} value="{{phone}}" {% endif %} required>
                            <div id="phone-warning" style="display:none; color: red;">Please enter a 10 digit phone number.</div>
                            <div id="phone-start-warning" style="display:none; color: red;">Phone number cannot start with 0.</div>
                        </div>

                        <div class="mb-3">
                            <label for="alternative_phone" class="form-label">Alternative Phone</label>
                            <input type="number" class="form-control" id="alternative_phone" name="alternative_phone" {% if alternative_phone %} value="{{alternative_phone}}" {% endif %}>
                            <div id="alternative-phone-warning" style="display:none; color: red;">Please enter a 10 digit alternative phone number.</div>
                            <div id="alternative-phone-start-warning" style="display:none; color: red;">Alternative phone number cannot start with 0.</div>
                        </div>

                        <div class="mb-3">
                            <label for="address" class="form-label">Address Details*</label>
                            <textarea class="form-control" id="address" name="address" rows="3" required>{% if address %} {{address}} {% endif %}</textarea>
                            <div id="address-warning" style="display:none; color: red;">Please enter a valid address. address only contains letters, numbers ',' '()'.</div>
                        </div>

                        <button type="submit" class="btn btn-success w-100">Save Address</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- swal cdn  -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- form validation -->
<script>
    let addressForm = document.getElementById('address_form')

    let streetInput = document.getElementById('street_address')
    let streetWarning = document.getElementById('street-warning')

    let landmarkInput = document.getElementById('landmark')
    let landmarkWarning = document.getElementById('landmark-warning')

    let countryInput = document.getElementById('country')
    let countryWarning = document.getElementById('country-warning')

    let addressInput = document.getElementById('address')
    let addressWarning = document.getElementById('address-warning')

    let stateInput = document.getElementById('state')
    let stateWarning = document.getElementById('state-warning')

    let phoneWarning = document.getElementById('phone-warning')
    let phoneStartWarning = document.getElementById('phone-start-warning')

    let alternativePhoneWarning = document.getElementById('alternative-phone-warning')
    let alternativePhoneStartWarning = document.getElementById('alternative-phone-start-warning')

    let postalInput = document.getElementById('postal_code')
    let postalWarning = document.getElementById('postal-warning')
    let postalStartWarning = document.getElementById('postal-start-warning')

    let regex = /^[a-zA-Z0-9 ,()\-\.]+$/
    let countryRegex = /^[a-zA-Z ]+$/

    //street address validation
    streetInput.addEventListener('input',function(){
        let street = streetInput.value.trim()
        if(!regex.test(street) || street === ""){
            streetWarning.style.display = "block"
        }else{
            streetWarning.style.display = "none"
        };
    });

    //landmark validation
    landmarkInput.addEventListener('input',function(){
        let landmark = landmarkInput.value.trim()
        if(landmark && !regex.test(landmark)){
            landmarkWarning.style.display = "block"
        }else{
            landmarkWarning.style.display = "none"
        };
    });

    // country validation
    countryInput.addEventListener('input',function(){
        let country = countryInput.value.trim()
        if(!countryRegex.test(country) || country === ""){
            countryWarning.style.display = "block"
        }else{
            countryWarning.style.display = "none"
        };
    });

    //address validation
    addressInput.addEventListener('input',function(){
        let address = addressInput.value.trim()
        if(!regex.test(address) || address === ""){
            addressWarning.style.display = "block"
        }else{
            addressWarning.style.display = "none"
        };
    });

    //phone validation
    document.getElementById('phone').addEventListener('input',function(){
        let phoneNumber = String(this.value.trim())
        if(phoneNumber.startsWith(0)){
            phoneStartWarning.style.display = "block"
            phoneWarning.style.display = "none"
        }
        else{
            phoneStartWarning.style.display = "none"
            phoneWarning.style.display = "none"
        };
    });

    //alternative phone validation
    document.getElementById('alternative_phone').addEventListener('input',function(){
        let alternativePhone = String(this.value.trim())
        if(alternativePhone && alternativePhone.startsWith(0)){
            alternativePhoneStartWarning.style.display = "block"
            alternativePhoneWarning.style.display = "none"
        }
        else{
            alternativePhoneWarning.style.display = "none"
            alternativePhoneStartWarning.style.display = "none"
        };
    });

    //postal code validation
    postalInput.addEventListener('input',function(){
        let postalCode = String(postalInput.value.trim())
        if(postalCode.startsWith(0)){
            postalStartWarning.style.display = "block"
            postalWarning.style.display = "none"
        }
        else{
            postalWarning.style.display = "none"
            postalStartWarning.style.display = "none"
        }
    })

    //form validation
    addressForm.addEventListener('submit',function(e){
        e.preventDefault()
        isValid = true
        //street
        let street = streetInput.value.trim()
        if(!regex.test(street) || street === ""){
            isValid = false
            streetWarning.style.display = "block"
        }else{
            streetWarning.style.display = "none"
        };
        //landmark
        let landmark = landmarkInput.value.trim()
        if(landmark && !regex.test(landmark)){
            isValid = false
            landmarkWarning.style.display = "block"
        }else{
            landmarkWarning.style.display = "none"
        };

        //country
        let country = countryInput.value.trim()
        if(!countryRegex.test(country) || country === ""){
            isValid =false
            countryWarning.style.display = "block"
        }else{
            countryWarning.style.display = "none"
        };
        //address
        let address = addressInput.value.trim()
        if(!regex.test(address) || address === ""){
            isValid = false
            addressWarning.style.display = "block"
        }else{
            addressWarning.style.display = "none"
        };

        let phone = document.getElementById("phone").value.trim();
        

        if (phone.length !== 10 || isNaN(phone)) {
            isValid = false;
            phoneWarning.style.display = "block"
            phoneStartWarning.style.display = "none"
        }
        else if(String(phone).startsWith(0)){
            isValid = false
            phoneStartWarning.style.display = "block"
            phoneWarning.style.display = "none"
        }
        else{
            phoneWarning.style.display = "none"
            phoneStartWarning.style.display = "none"
        };
    
        let alternativePhone = document.getElementById("alternative_phone").value.trim();

        if (alternativePhone && (alternativePhone.length !== 10 || isNaN(alternativePhone))) {
            isValid = false;
            alternativePhoneWarning.style.display = "block"
            alternativePhoneStartWarning.style.display = "none"
        }
        else if(alternativePhone && String(alternativePhone).startsWith(0)){
            isValid = false
            alternativePhoneStartWarning.style.display = "block"
            alternativePhoneWarning.style.display = "none"
        }
        else{
            alternativePhoneWarning.style.display = "none"
            alternativePhoneStartWarning.style.display = "none"
        };

        //postal code
        let postalCode = postalInput.value.trim()
        if(postalCode.length !== 6 || isNaN(postalCode)){
            isValid = false
            postalWarning.style.display = "block"
            postalStartWarning.style.display = "none"
        }
        else if(String(postalCode).startsWith(0)){
            isValid = false
            postalStartWarning.style.display = "block"
            postalWarning.style.display = "none"
        }
        else{
            postalWarning.style.display = "none"
            postalStartWarning.style.display = "none"
        }

        //state
        let state = stateInput.value.trim()
        if(!state){
            isValid = false
            stateWarning.style.display = "block"
        }else{
            stateWarning.style.display = "none"
        };
    
        // Only proceed if all validations pass
        if (isValid) {
            // Show SweetAlert
            Swal
                .fire({
                    title: "New Address has been saved",
                    icon: "success",
                    timer: 1500,
                    buttons: false,
                })
                .then(() => {
                    this.submit(); // Submit the form after the alert
                });
        }
    });
</script>

    
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous">
</script>
{% endblock content %}