{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<style>
    #wishlistLogoProduct{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .page-btn{
        background-color:#ebebeb;
        display: flex;
        justify-content: center;
    }
    .page-btn a{
        display: inline-block;
        text-decoration: none;
        color: #ff3368;
        font-size: 1.5rem;
    }
    .active-page {
        font-weight: bold;
        color: #ff6600; /* Customize as needed */
        text-decoration: underline;
    }
</style>
    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="banner_slider owl-carousel">
                        {% for banner in banners %}
                        <div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>{{banner.banner_name}}</h1>
                                            <del><h4>{{banner.price}} Rs</h4></del>
                                            <h4>{{banner.deal_price}} Rs</h4>
                                            <p>{{banner.banner_description}}</p>
                                            <a href="{%url 'product_app:single_product' banner.product.id %}" class="btn_2">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="{{banner.banner_image.url}}" alt="{{banner.banner_name}}">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="slider-counter"></div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- banner part start-->

    <!-- Latest product start-->
    <section class="feature_part padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_tittle text-center">
                        <h2>Latest Products</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                {% for latest_product in latest_products %}
                    <div class="col-lg-5 col-sm-6">
                        <div class="single_feature_post_text" style="height: 30rem;">
                            <p>Premium Quality</p>
                            <h3>{{latest_product.product_name}}</h3>
                            <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                            <img src="{{latest_product.image_1.url}}" alt="{{latest_product.product_name}}" width="400" height="350">
                        </div>
                        {% if latest_product.offer %}
                            <h5><del>Price : {{latest_product.price}} Rs</del></h5>
                            <h5>Deal Price : {{latest_product.discount_price}} Rs</h5>
                        {% else %}
                            <h5>Price : {{latest_product.price}} Rs</h5>
                        {% endif %}
                    </div>
                {% endfor %}
                <!-- <div class="col-lg-5 col-sm-6">
                    <div class="single_feature_post_text">
                        <p>Premium Quality</p>
                        <h3>Latest foam Sofa</h3>
                        <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                        <img src="{% static 'img/feature/feature_2.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <div class="single_feature_post_text">
                        <p>Premium Quality</p>
                        <h3>Latest foam Sofa</h3>
                        <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                        <img src="{% static 'img/feature/feature_3.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-7 col-sm-6">
                    <div class="single_feature_post_text">
                        <p>Premium Quality</p>
                        <h3>Latest foam Sofa</h3>
                        <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                        <img src="{% static 'img/feature/feature_4.png' %}" alt="">
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- upcoming_event part start-->

    <!-- product_list start-->
    <section id="products-section" class="product_list section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>awesome <span>shop</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product_list_slider owl-carousel">
                        <div class="single_product_list_slider">
                            <div class="row align-items-center justify-content-between">
                                {% for product in products %}
                                <a href="{% url 'product_app:single_product' product.id %}">
                                <div class="col-lg-3 col-sm-6">
                                        <div class="single_product_item" style="height: 30rem;">
                                            <img height="300rem" src="{{ product.image_1.url }}" alt="{{product.product_name}}">
                                            <div class="single_product_text">
                                                <h4>{{product.product_name}}</h4>
                                                {% if product.offer %}
                                                    <h3><del>{{product.price}} Rs</del></h3>
                                                    <h3>{{product.discount_price}} Rs</h3>
                                                {% else %}
                                                    <h3>{{product.price}} Rs</h3>
                                                {% endif %}
                                                <div id="wishlistLogoProduct">
                                                    <a href="{% url 'cart_app:add_to_cart' product.id %}" class="add_cart" >+ add to cart</a>
                                                    <a href="#" class="add_cart" id="wishlistLogoProduct" ><i class="ti-heart"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                            <div class="page-btn">
                                {% if products.has_previous %}
                                    <a href="?page={{products.previous_page_number}}#products-section"><span style="margin-right: 10px;">&lt;&lt;</span></a>
                                {% endif %}

                                {% for i in products.paginator.page_range %}
                                    <a href="?page={{i}}#products-section" {% if i == products.number %}class="active-page"{% endif %}>
                                        <span style="margin: 10px;"> {{i}} </span></a>
                                {% endfor %}

                                {% if products.has_next %}
                                    <a href="?page={{products.next_page_number}}#products-section"><span style="margin-left: 10px;">&gt;&gt;</span></a>
                                {% endif %}
                            </div>
                        </div>
                        <!-- <div class="single_product_list_slider">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{% static 'img/product/product_1.png' %}" alt="">
                                        <div class="single_product_text">
                                            <h4>Quartz Belt Watch</h4>
                                            <h3>$150.00</h3>
                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{% static 'img/product/product_2.png' %}" alt="">
                                        <div class="single_product_text">
                                            <h4>Quartz Belt Watch</h4>
                                            <h3>$150.00</h3>
                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{% static 'img/product/product_3.png' %}" alt="">
                                        <div class="single_product_text">
                                            <h4>Quartz Belt Watch</h4>
                                            <h3>$150.00</h3>
                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{% static 'img/product/product_4.png' %}" alt="">
                                        <div class="single_product_text">
                                            <h4>Quartz Belt Watch</h4>
                                            <h3>$150.00</h3>
                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{% static 'img/product/product_5.png' %}" alt="">
                                        <div class="single_product_text">
                                            <h4>Quartz Belt Watch</h4>
                                            <h3>$150.00</h3>
                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{% static 'img/product/product_6.png' %}" alt="">
                                        <div class="single_product_text">
                                            <h4>Quartz Belt Watch</h4>
                                            <h3>$150.00</h3>
                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{% static 'img/product/product_7.png' %}" alt="">
                                        <div class="single_product_text">
                                            <h4>Quartz Belt Watch</h4>
                                            <h3>$150.00</h3>
                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <img src="{% static 'img/product/product_8.png' %}" alt="">
                                        <div class="single_product_text">
                                            <h4>Quartz Belt Watch</h4>
                                            <h3>$150.00</h3>
                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product_list part start-->

    <!-- awesome_shop start-->
    <!-- <section class="our_offer section_padding">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6">
                    <div class="offer_img">
                        <img src="{% static 'img/offer_img.png' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="offer_text">
                        <h2>Weekly Sale on
                            60% Off All Products</h2>
                        <div class="date_countdown">
                            <div id="timer">
                                <div id="days" class="date"></div>
                                <div id="hours" class="date"></div>
                                <div id="minutes" class="date"></div>
                                <div id="seconds" class="date"></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="enter email address"
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <a href="#" class="input-group-text btn_2" id="basic-addon2">book now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- awesome_shop part start-->

    <!-- product_list part start-->
    <section class="product_list best_seller section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Best Sellers <span>shop</span></h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12">
                    <div class="best_product_slider owl-carousel">
                        {% for best_seller in best_sellers %}
                            <div class="single_product_item">
                                <img src="{{best_seller.image_1.url}}" alt="{{best_seller.product_name}}">
                                <div class="single_product_text">
                                    <h4>{{best_seller.product_name}}</h4>
                                    {% if best_seller.offer %}
                                        <h3><del>{{best_seller.price}} Rs</del></h3>
                                        <h3>{{best_seller.discount_price}} Rs</h3>
                                    {% else %}
                                        <h3>{{best_seller.price}} Rs</h3>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <!-- <div class="single_product_item">
                            <img src="{% static 'img/product/product_2.png' %}" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="{% static 'img/product/product_3.png' %}" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="{% static 'img/product/product_4.png' %}" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="{% static 'img/product/product_5.png' %}" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product_list part end-->

    {% endblock content %}