{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<style>
    #l_img{
        transform: translateY(-10rem);
    }
    #images_product{
      margin-top: 3rem;
        display: flex;
        width: 40rem;
    }
    #large_image{
        height: 30rem;
        background-color: rgb(250, 240, 240);
    }
    .small_image{
        background-color: rgb(250, 240, 240);
    }
</style>
  <!--================Single Product Area =================-->
  <div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner justify-content-between">
        <div class="col-lg-7 col-xl-7">
          <div class="product_slider_img">
            <div id="vertical">
              <div id="large_image">
                <img id="l_img" src="{{product.image_1.url}}" alt="{{product.product_name}}" />
              </div>

                <div id="images_product">
                    <div class="m-2 small_image">
                        <img height="300" width="450rem" src="{{product.image_1.url}}" alt="{{product.product_name}}" />
                    </div>
                    <div class="m-2 small_image">
                        <img height="300" width="450rem" src="{{product.image_2.url}}" alt="{{product.product_name}}" />
                    </div>
                    <div class="m-2 small_image">
                        <img height="300" width="450rem" src="{{product.image_3.url}}" alt="{{product.product_name}}" />
                    </div>
                </div>

            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-4">
          <div class="s_product_text">
            <h3>{{product.product_name}}</h3>
            {% if product.offer %}
                <h4><del>{{product.price}} Rs</del></h4>
                <h4>{{product.discount_price}} Rs</h4>
            {% else %}
                <h4>{{product.price}} Rs</h4>
            {% endif %}
            <br>
            <ul class="list">
              <li>
                  <span>Category</span> : {{product.category.category_name}}
              </li>
              <li>
                {% if product.available_stock > 0 %}
                    <span>Availibility</span> : In stock : {{product.available_stock}}
                {% else %}
                    <span>Unavailable</span>
                {% endif %}
              </li>
              {% if product.offer %}
                <li>
                    <span>Offer</span> : {{product.offer.offer_title}}
                </li>
              {% endif %}
            </ul>
            <p>
            </p>
            <div class="card_area d-flex justify-content-between align-items-center">
              <div class="product_count">
                <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                <input class="input-number" type="text" value="1" min="0" max="{{product.available_stock}}">
                <span class="number-increment"> <i class="ti-plus"></i></span>
              </div>
              <a href="{% url 'cart_app:add_to_cart' product.id %}" class="btn_3">add to cart</a>
              <a href="{% url 'wishlist_app:add_to_wishlist' product.id %}" class="like_us"> <i class="ti-heart"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================End Single Product Area =================-->

  <!--================Product Description Area =================-->
  <section class="product_description_area">
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Specification</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">Comments</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
            aria-selected="false">Reviews</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
          <p>
            {{product.description}}
          </p>
          <p>
           
          </p>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <h5>Material</h5>
                  </td>
                  <td>
                    <h5>{{product.material}}</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Color</h5>
                  </td>
                  <td>
                    <h5>{{product.color}}</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Width</h5>
                  </td>
                  <td>
                    <h5>{{product.width}}cm</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Length</h5>
                  </td>
                  <td>
                    <h5>{{product.length}}cm</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Height</h5>
                  </td>
                  <td>
                    <h5>{{product.height}}cm</h5>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Manufactured at</h5>
                  </td>
                  <td>
                    <h5>{{product.created_at|date:'Y-m-d'}}</h5>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <div class="row">
            <div class="col-lg-6">
              <div class="comment_list">
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/product/single-product/review-1.png" alt="" />
                    </div>
                    <div class="media-body">
                      <h4>Blake Ruiz</h4>
                      <h5>12th Feb, 2017 at 05:56 pm</h5>
                      <a class="reply_btn" href="#">Reply</a>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo
                  </p>
                </div>
                <div class="review_item reply">
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/product/single-product/review-2.png" alt="" />
                    </div>
                    <div class="media-body">
                      <h4>Blake Ruiz</h4>
                      <h5>12th Feb, 2017 at 05:56 pm</h5>
                      <a class="reply_btn" href="#">Reply</a>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo
                  </p>
                </div>
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                      <img src="img/product/single-product/review-3.png" alt="" />
                    </div>
                    <div class="media-body">
                      <h4>Blake Ruiz</h4>
                      <h5>12th Feb, 2017 at 05:56 pm</h5>
                      <a class="reply_btn" href="#">Reply</a>
                    </div>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="review_box">
                <h4>Post a comment</h4>
                <form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
                  novalidate="novalidate">
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" id="name" name="name" placeholder="Your Full name" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" id="number" name="number" placeholder="Phone Number" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" name="message" id="message" rows="1"
                        placeholder="Message"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12 text-right">
                    <button type="submit" value="submit" class="btn_3">
                      Submit Now
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> -->
        <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
          <div class="row">
            <div class="col-lg-6">
              <div class="row total_rate">
                <div class="col-6">
                  <div class="box_total">
                    <h5>Overall</h5>
                    <h4>{{average_rating}}</h4>
                    <h6>({{total_review}} Reviews)</h6>
                  </div>
                </div>
                <div class="col-6">
                  <div class="rating_list">
                    <h3>Based on {{total_review}} Reviews</h3>
                  </div>
                </div>
              </div>
              <div class="review_list">
                {% for review in product.productreview_set.all %}
                <div class="review_item">
                  <div class="media">
                    <div class="d-flex">
                      <img src="{{ review.product.image_1.url }}" alt="{{review.product.product_name}}" width="100" />
                    </div>
                    <div class="media-body">
                      <h4>{{review.user.first_name}}</h4>
                      {{review.get_rating_display}}
                    </div>
                  </div>
                  <p>
                    {{review.comment}}
                  </p>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Product Description Area =================-->

  <!-- product_list part start-->
  <!-- <section class="product_list best_seller">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="section_tittle text-center">
            <h2>Best Sellers <span>shop</span></h2>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-12">
          <div class="best_product_slider owl-carousel">
            <div class="single_product_item">
              <img src="img/product/product_1.png" alt="">
              <div class="single_product_text">
                <h4>Quartz Belt Watch</h4>
                <h3>$150.00</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- product_list part end-->

{% endblock content %}