{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- breadcrumb start-->
    <!-- <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Registration</h2>
                            <p>Home <span>-</span>Registration</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- breadcrumb start-->

    <!--================sign_up_part Area =================-->
    <section class="login_part padding_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>Already a user?</h2>
                            <p>Every day, new trends and innovations are reshaping the world of home furnishings.
                                 A perfect example of this is how modern furniture combines style, comfort,
                                  and smart technology to create the perfect living experience for your home.</p>
                            <a href="{% url 'login' %}" class="btn_3">Sign-in</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>New User! <br>
                                Please Sign up now</h3>

                                <!-- alert box  -->
                                {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert alert-{{message.tags}}">
                                        <strong>{{message}}</strong>
                                    </div>
                                    {% endfor %}
                                {% endif %}

                                <!-- form error view
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        <ul>
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <li>{{ field.label }}: {{ error }}</li>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in form.non_field_errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %} -->

                                <!-- validation errors -->
                                <!-- {% if errors %}
                                    <div class="alert alert-danger">
                                        <ul>
                                            {% for error in errors.items %}
                                                {% if error %}
                                                    {% if error is list %}
                                                        {% for i in error %}
                                                            <li>{{ i }}</li>
                                                        {% endfor %}
                                                    {% else %}
                                                        <li>{{ error }}</li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %} -->


                            <form class="row contact_form" action="" method="post" novalidate="novalidate">
                                {% csrf_token %}
                                <div class="col-md-12 form-group ">
                                    <input type="email" class="form-control {% if errors.email_error %}is-invalid{% endif %}" name="email"  placeholder="Email" value="{{email}}" required>
                                    {% if errors.email_error %}
                                        <div class="invalid-feedback">{{ errors.email_error }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control {% if errors.first_name_error %}is-invalid{% endif %}" name="first_name"  placeholder="First name" value="{{first_name}}" required>
                                    {% if errors.first_name_error %}
                                        <div class="invalid-feedback">{{ errors.first_name_error }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="text" class="form-control {% if errors.last_name_error %}is-invalid{% endif %}" name="last_name"  placeholder="Last name" value="{{last_name}}" required>
                                    {% if errors.last_name_error %}
                                        <div class="invalid-feedback">{{ errors.last_name_error }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="password" class="form-control {% if errors.password_error %}is-invalid{% endif %}" name="password"  placeholder="password" required>
                                    {% if errors.password_error %}
                                        {% for error in errors.password_error %}
                                            <div class="invalid-feedback">{{ error }}</div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-md-12 form-group">
                                    <input type="password" class="form-control {% if errors.password_mismatch %}is-invalid{% endif %}" name="confirm_password"  placeholder="Confirm password" required>
                                    {% if errors.password_mismatch %}
                                        <div class="invalid-feedback">{{ errors.password_mismatch }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit" value="submit" class="btn_3">
                                        Sign-up
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================sign_up_part end =================-->
    {% endblock content %}