{% extends 'base/base.html' %}
{% load static %}
{% block content %}



<!--================sign_up_part Area =================-->
<section class="login_part padding_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>Already a user?</h2>
                        <p>Every day, new trends and innovations are reshaping the world of home furnishings.
                            A perfect example of this is how modern furniture combines style, comfort,
                            and smart technology to create the perfect living experience for your home.</p>
                        <a href="{% url 'authentication_app:login' %}" class="btn_3">Sign-in</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>New User! <br>
                            Please Sign up now</h3>

                        <!-- alert box  -->
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">
                            <strong>{{message}}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}

                        <form id="signup-form" class="row contact_form" action="" method="post" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="col-md-12 form-group ">
                                <input type="email"
                                    class="form-control {% if errors.email_error %}is-invalid{% endif %}" id="email"
                                    name="email" placeholder="Email*" value="{{email}}" required>
                                <div id="email-warning" style="display:none; color: red;">Please enter a valid Email.
                                </div>
                                {% if errors.email_error %}
                                <div class="invalid-feedback">{{ errors.email_error }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text"
                                    class="form-control {% if errors.first_name_error %}is-invalid{% endif %}"
                                    id="first-name" name="first_name" placeholder="First name*" value="{{first_name}}"
                                    required>
                                <div id="first-warning" style="display:none; color: red;">Please enter a valid first
                                    name.First name only contains letters.</div>
                                {% if errors.first_name_error %}
                                <div class="invalid-feedback">{{ errors.first_name_error }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text"
                                    class="form-control {% if errors.last_name_error %}is-invalid{% endif %}"
                                    id="last-name" name="last_name" placeholder="Last name*" value="{{last_name}}"
                                    required>
                                <div id="last-warning" style="display:none; color: red;">Please enter a valid last
                                    name.Last name only contains letters.</div>
                                {% if errors.last_name_error %}
                                <div class="invalid-feedback">{{ errors.last_name_error }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password"
                                    class="form-control {% if errors.password_error %}is-invalid{% endif %}"
                                    name="password" placeholder="password*" required>
                                {% if errors.password_error %}
                                {% for error in errors.password_error %}
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password"
                                    class="form-control {% if errors.password_mismatch %}is-invalid{% endif %}"
                                    name="confirm_password" placeholder="Confirm password*" required>
                                {% if errors.password_mismatch %}
                                <div class="invalid-feedback">{{ errors.password_mismatch }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text"
                                    class="form-control {% if errors.referral_error %}is-invalid{% endif %}"
                                    id="referral-code" name="referral_code" placeholder="Referral code"
                                    value="{{referral_code}}">
                                <div id="referral-warning" style="display:none; color: red;">Referral code doesn't
                                    match. Enter correct code.</div>
                                {% if errors.referral_error %}
                                <div class="invalid-feedback">{{ errors.referral_error }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" value="submit" class="btn_3">
                                    Sign-up
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
<!--================sign_up_part end =================-->

<!-- Form validation -->
<script>
    let signupForm = document.getElementById('signup-form')

    let emailInput = document.getElementById('email')
    let emailWarning = document.getElementById('email-warning')

    let firstInput = document.getElementById('first-name')
    let firstWarning = document.getElementById('first-warning')

    let lastInput = document.getElementById('last-name')
    let lastWarning = document.getElementById('last-warning')

    let referralInput = document.getElementById('referral-code')
    let referralWarning = document.getElementById('referral-warning')

    let emailRegex = /^[a-zA-Z0-9\._%+-]+@[a-zA-Z0-9\.-]+.[a-zA-Z]{2,}$/;
    let firstRegex = /^[a-zA-Z ]+$/
    let lastRegex = /^[a-zA-Z ]+$/

    //email
    emailInput.addEventListener('input', function () {
        let email = emailInput.value.trim()
        if (!emailRegex.test(email) || email === "") {
            emailWarning.style.display = "block"
        }
        else {
            emailWarning.style.display = "none"
        };
    });

    // first name
    firstInput.addEventListener('input', function () {
        let firstName = firstInput.value.trim()
        if (!firstRegex.test(firstName) || firstName === "") {
            firstWarning.style.display = "block"
        }
        else {
            firstWarning.style.display = "none"
        };
    });

    // last name
    lastInput.addEventListener('input', function () {
        let lastName = lastInput.value.trim()
        if (!lastRegex.test(lastName) || lastName === "") {
            lastWarning.style.display = "block"
        }
        else {
            lastWarning.style.display = "none"
        };
    });

    // form submission validation
    signupForm.addEventListener('submit', function (e) {
        isValid = true

        //email
        let email = emailInput.value.trim()
        if (!emailRegex.test(email) || email === "") {
            isValid = false
            emailWarning.style.display = "block"
        }
        else {
            emailWarning.style.display = "none"
        };

        //first name
        let firstName = firstInput.value.trim()
        if (!firstRegex.test(firstName) || firstName === "") {
            isValid = false
            firstWarning.style.display = "block"
        }
        else {
            firstWarning.style.display = "none"
        };

        //last name
        let lastName = lastInput.value.trim()
        if (!lastRegex.test(lastName) || lastName === "") {
            isValid = false
            lastWarning.style.display = "block"
        }
        else {
            lastWarning.style.display = "none"
        };

        if (!isValid) {
            e.preventDefault()
        }
    });


    //referral code error.
    if (referralInput.classList.contains("is-invalid")) {
        referralWarning.style.display = "block"
    }
    else {
        referralWarning.style.display = "none"
    };


</script>

<script>
    setTimeout(() => {
        $(".alert").alert("close")
    }, 3000)
</script>
{% endblock content %}