{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<style>
    .page-btn{
        background-color:#ebebeb;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: center;
    }
    .page-btn a{
        display: inline-block;
        text-decoration: none;
        color: #ff3368;
        font-size: 1.5rem;
    }
    #search{
		color: black;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		font-weight: 500;
		border-radius: 10px;
        border: 1px solid #666;
		padding-left: 13px;
		width: 12rem;
		height: 30px;
		
	}
	#search_btn{
		color: #000;
		background-color: violet;
		height: 30px;
        width: 5rem;
		border-radius: 15px;
		border: #666;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		font-weight: 500;
	}
    .active-page {
        font-weight: bold;
        color: #ff6600; /* Customize as needed */
        text-decoration: underline;
    }
    
</style>
    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Shop Category</h2>
                            <p>Home <span>-</span> Shop Category</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!--================Category Product Area =================-->
    <section id="category-section" class="cat_product_area section_padding">
        <div class="container">
            <div class="row">
                <!-- <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Browse Categories</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    {% for category in categories %}
                                        <li>
                                            <a href="#">{{category.category_name}}</a>
                                            <span>({{category.count_of_product}})</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </aside>

                         <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Product filters</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="#">Apple</a>
                                    </li>
                                    <li>
                                        <a href="#">Asus</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Gionee</a>
                                    </li>
                                    <li>
                                        <a href="#">Micromax</a>
                                    </li>
                                    <li>
                                        <a href="#">Samsung</a>
                                    </li>
                                </ul>
                                <ul class="list">
                                    <li>
                                        <a href="#">Apple</a>
                                    </li>
                                    <li>
                                        <a href="#">Asus</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Gionee</a>
                                    </li>
                                    <li>
                                        <a href="#">Micromax</a>
                                    </li>
                                    <li>
                                        <a href="#">Samsung</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Color Filter</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="#">Black</a>
                                    </li>
                                    <li>
                                        <a href="#">Black Leather</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Black with red</a>
                                    </li>
                                    <li>
                                        <a href="#">Gold</a>
                                    </li>
                                    <li>
                                        <a href="#">Spacegrey</a>
                                    </li>
                                </ul>
                            </div>
                        </aside> 

                        <aside class="left_widgets p_filter_widgets price_rangs_aside">
                            <div class="l_w_title">
                                <h3>Price Filter</h3>
                            </div>
                            <div class="widgets_inner">
                                <div class="range_item">
                                    <div id="slider-range"></div>
                                    <input type="range" class="js-range-slider" value="" />
                                    <div class="d-flex">
                                        <div class="price_text">
                                            <p>Price :</p>
                                        </div>
                                        <div class="price_value d-flex justify-content-center">
                                            <input type="text" class="js-input-from" id="amount" readonly />
                                            <span>to</span>
                                            <input type="text" class="js-input-to" id="amount" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div> -->
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <div class="single_product_menu">
                                    <p><span>{{total}} </span> Product Found</p>
                                </div>
                                <div class="single_product_menu d-flex">
                                    <form action="" method="get"">
                                        <input id="search" type="search" name="search_query" placeholder="Search category..." value="{{query}}" >
                                        <button id="search_btn" type="submit">Search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br><br>
                    <div class="row align-items-center latest_product_inner">
                        {% for category in categories %}
                            <div class="col-lg-4 col-sm-6">
                                <div class="single_product_item">
                                    {% if not category.is_listed %}
                                        <!-- <a href="" aria-disabled="true" class="disabled-link"> -->
                                            <img width="300rem" height="300rem" src="{{category.cat_image.url}}" alt="{{category.category_name}}">
                                            <div class="single_product_text">
                                                <h3>{{category.category_name}}</h3>
                                                <h3 class="text-warning" style="font-size: 1rem; font-weight: bolder;">UNAVAILABLE</h3> 
                                            </div>
                                        <!-- </a> -->
                                    {% else %}
                                        <a href="{% url 'product_app:products_view' category.id %}">
                                            <img width="300rem" height="300rem" src="{{category.cat_image.url}}" alt="{{category.category_name}}">
                                            <div class="single_product_text">
                                                <h4>{{category.category_name}}</h4>
                                                <h3>Total product : {{category.count_of_product}}</h3>  
                                            </div>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>   
                        {% endfor %}


                        <!-- Pagination Links -->
                        <div class="page-btn">
                            {% if categories.has_previous %}
                                <a href="?page={{ categories.previous_page_number }}&search_query={{ query }}#category-section">
                                    <span style="margin-right: 10px;">&lt;&lt;</span>
                                </a>
                            {% endif %}

                            {% for i in categories.paginator.page_range %}
                                <a href="?page={{ i }}&search_query={{ query }}#category-section" {% if i == categories.number %}class="active-page"{% endif %}>
                                    <span style="margin: 10px;">{{ i }}</span>
                                </a>
                            {% endfor %}

                            {% if categories.has_next %}
                                <a href="?page={{ categories.next_page_number }}&search_query={{ query }}#category-section">
                                    <span style="margin-left: 10px;">&gt;&gt;</span>
                                </a>
                            {% endif %}
                        </div>

                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Category Product Area =================-->


{% endblock content %}