{% extends 'admin_app/admin_base.html' %}
{% load static %}
{% block content %}
<br><br><br>
<!-- breadcrumbs start-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'admin_app:admin_coupon' %}">Coupon</a></li>
    <li class="breadcrumb-item"><a href="">Add coupon</a></li>
    </ol>
</nav>
<!-- alert box  -->
{% if messages %}
{% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        <strong>{{message}}</strong>
    </div>
{% endfor %}
{% endif %}

<script>
setTimeout (() => {
    $(".alert").alert("close")
},3000)
</script>

<div class="container mt-5">
    <h2 class="mb-4">Add New Coupon</h2>
    <form action="" method="POST">
        {% csrf_token %}

        <!-- Coupon code -->
        <div class="mb-3">
            <label for="code" class="form-label">Code:</label>
            <input type="text" class="form-control" id="code" name="code" value="{{code}}" required>
        </div>

        <!-- minimum_order_amount -->
        <div class="mb-3">
            <label for="minimum_order_amount" class="form-label">Minimum order amount:</label>
            <input type="number" class="form-control" id="minimum_order_amount" name="minimum_order_amount" min="0" max="100000" value="{{minimum_order_amount}}" required>
        </div>

        <!-- maximum_order_amount -->
        <div class="mb-3">
            <label for="maximum_order_amount" class="form-label">Maximum order amount:</label>
            <input type="number" class="form-control" id="maximum_order_amount" name="maximum_order_amount" min="0" max="100000" value="{{maximum_order_amount}}" required>
        </div>

        <!-- Used limit -->
        <div class="mb-3">
            <label for="used_limit" class="form-label">Used limit:</label>
            <input type="number" class="form-control" id="used_limit" name="used_limit" min="0" max="500" value="{{used_limit}}" required>
        </div>
        
        <!-- Expiry Date -->
        <div class="mb-3">
            <label for="expiry-date" class="form-label">Expiry Date:</label>
            <input type="datetime-local" class="form-control" id="expiry-date" name="expiry_date" value="{{expiry_date|date:'Y-m-d\\TH:i'}}" required>
        </div>
        
        <!-- Discount amount -->
        <div class="mb-3">
            <label for="discount_amount" class="form-label">Discount Amount:</label>
            <input type="number" class="form-control" id="discount_amount" name="discount_amount" min="0" max="100000" value="{{discount_amount}}" required>
        </div>
        

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Add Coupon</button>
    </form>
</div>
<br>
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous">
</script>
{% endblock content %}