{% extends 'admin_app/admin_base.html' %}
{% load static %}
{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet" />
<br><br>
<!-- breadcrumbs start-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'admin_app:admin_banner' %}">Banner</a></li>
    <li class="breadcrumb-item"><a href="">Edit banner</a></li>
    </ol>
</nav>
    <div class="container mt-5">
        <h2 class="mb-4">Edit Banner</h2>
        <form id="banner-form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                <label for="banner-name" class="form-label">Banner Name:</label>
                <input type="text" class="form-control" id="banner-name" name="banner_name" required value="{{banner.banner_name}}">
                <div id="banner-warning" style="display:none; color: red;">Please enter a valid banner name.</div>
            </div>
            
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea class="form-control" id="description" name="description" rows="4" required>{{banner.banner_description}}</textarea>
                <div id="description-warning" style="display:none; color: red;">Please enter a valid description.</div>
            </div>

            <div class="mb-3">
                <label for="banner-image" class="form-label">Banner Image:</label>

                <!-- Image Preview -->
                {% if banner.banner_image %}
                    <div class="mb-2">
                        <img src="{{ banner.banner_image.url }}" alt="{{ banner.banner_name }}" width="100" height="100">
                    </div>
                {% endif %}

                <input type="file" class="form-control image-input" id="banner-image" name="banner_image" accept=".jpg, .jpeg, .png, .gif">
                <div id="image-warning" style="display:none; color: red;">Please upload a valid image file (.jpg, .jpeg, .png, .gif).</div>
            </div>

            <!-- Modal for cropping -->
            <div id="cropperModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title">Crop Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    <img id="cropperImage" src="" alt="Crop Image Preview" style="max-width: 100%;">
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="cropImage()">Crop</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="start-date" class="form-label">Start Date:</label>
                <input type="datetime-local" class="form-control" id="start-date" name="start_date" required value="{{banner.start_date|date:'Y-m-d\\TH:i'}}">
            </div>

            <div class="mb-3">
                <label for="end-date" class="form-label">End Date:</label>
                <input type="datetime-local" class="form-control" id="end-date" name="end_date" required value="{{banner.end_date|date:'Y-m-d\\TH:i'}}">
                <div id="end-date-warning-past" style="display:none; color: red;">End date cannot be set in the past. Please select a future date.</div>
                <div id="end-date-warning-start" style="display:none; color: red;">End date cannot be earlier than the start date. Please select a valid end date.</div>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Edit Banner</button>
        </form>
    </div>
<br><br>
<!-- form validation -->
<script>
    let bannerForm = document.getElementById('banner-form')

    let bannerInput = document.getElementById('banner-name')
    let bannerWarning = document.getElementById('banner-warning')

    let descriptionInput = document.getElementById('description')
    let descriptionWarning = document.getElementById('description-warning')

    let startDateInput = document.getElementById('start-date')

    let endDateInput = document.getElementById('end-date')
    let endDateWarningPast = document.getElementById('end-date-warning-past')
    let endDateWarningStart = document.getElementById('end-date-warning-start')

    let bannerImage = document.getElementById('banner-image')
    let imageWarning = document.getElementById('image-warning')

    let bannerRegex = /^[a-zA-Z -]+$/
    let descriptionRegex = /^[a-zA-Z0-9 \.,\-]+$/
    let validImageRegex = /\.(jpg|jpeg|png|gif)$/i;

    //offer title validation
    bannerInput.addEventListener('input',function(){
        let bannerName = bannerInput.value.trim()
        if(!bannerRegex.test(bannerName) || bannerName === ""){
            bannerWarning.style.display = "block"
        }
        else{
            bannerWarning.style.display = "none"
        }
    });
    //description validation
    descriptionInput.addEventListener('input',function(){
        let description = descriptionInput.value.trim()
        if(!descriptionRegex.test(description) || description === ""){
            descriptionWarning.style.display = "block"
        }
        else{
            descriptionWarning.style.display = "none"
        }
    });
    // end date validation
    endDateInput.addEventListener('input',function(){
        let startDate = new Date(startDateInput.value)
        let endDate = new Date(endDateInput.value)
        let now = new Date()

        if(endDate < now){
            endDateWarningPast.style.display = "block"
            endDateWarningStart.style.display = "none"
        }
        else if(endDate < startDate){
            endDateWarningStart.style.display = "block"
            endDateWarningPast.style.display = "none"
        }
        else{
            endDateWarningPast.style.display = "none"
            endDateWarningStart.style.display = "none"
        }
    });

    // form submission checking
    bannerForm.addEventListener('submit',function(e){
        let isValid = true

        let bannerName= bannerInput.value.trim()
        if(!bannerRegex.test(bannerName) || bannerName === ""){
            isValid = false
            bannerWarning.style.display = "block"
        }
        else{
            bannerWarning.style.display = "none"
        };

        let description = descriptionInput.value.trim()
        if(!descriptionRegex.test(description) || description === ""){
            isValid = false
            descriptionWarning.style.display = "block"
        }
        else{
            descriptionWarning.style.display = "none"
        };

        // end date
        let startDate = new Date(startDateInput.value)
        let endDate = new Date(endDateInput.value)
        let now = new Date()

        if(endDate < now){
            isValid = false
            endDateWarningPast.style.display = "block"
            endDateWarningStart.style.display = "none"
        }
        else if(endDate < startDate){
            isValid = false
            endDateWarningStart.style.display = "block"
            endDateWarningPast.style.display = "none"
        }
        else{
            endDateWarningPast.style.display = "none"
            endDateWarningStart.style.display = "none"
        }


        //image 
        let image = bannerImage.value
        if(image === ""){
            imageWarning.style.display = "none"            
        }
        else if(!validImageRegex.test(image)){
            isValid =false
            imageWarning.style.display = "block"
        }
        else{
            imageWarning.style.display = "none"
        }

        if(!isValid){
            e.preventDefault();
        };
    });
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script>
        let cropper;
let activeInput;

document.querySelectorAll('.image-input').forEach(input => {
  input.addEventListener('change', function () {
    const file = this.files[0];
    activeInput = this; // Store reference to the active input
    
    // Validate the file type
    if (file && /\.(jpg|jpeg|png|gif)$/i.test(file.name)) {
      const reader = new FileReader();
      reader.onload = function (e) {
        document.getElementById('cropperImage').src = e.target.result;
        $('#cropperModal').modal('show');

        if (cropper) {
          cropper.destroy();
        }

        cropper = new Cropper(document.getElementById('cropperImage'), {
          aspectRatio: 16 / 9, // Width:Height
          viewMode: 1,
          autoCropArea: 1,
          responsive: true,
        });
      };
      reader.readAsDataURL(file);
    } else {
      // Show an error message and reset the file input if invalid
      alert('Please upload a valid image file (.jpg, .jpeg, .png, .gif).');
      this.value = ''; // Reset the input value
    }
  });
});

function cropImage() {
  if (cropper && activeInput) {
    const canvas = cropper.getCroppedCanvas();
    canvas.toBlob((blob) => {
      const dataTransfer = new DataTransfer();
      dataTransfer.items.add(new File([blob], 'cropped_image.png', { type: 'image/png' }));
      activeInput.files = dataTransfer.files;

      $('#cropperModal').modal('hide');
    });
  }
}
        
    </script>
{% endblock content %}