{% extends 'admin_app/admin_base.html' %}
{% load static %}
{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
<br><br>
<!-- breadcrumbs start-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'admin_app:admin_product' %}">Product</a></li>
    <li class="breadcrumb-item"><a href="">Edit product</a></li>
    </ol>
</nav>
<div class="container mt-5">
    <h2 class="mb-4">Edit Product</h2>
    <form id="product-form" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label for="product-name" class="form-label">Product Name:</label>
            <input type="text" class="form-control" id="product-name" name="product_name" value="{{product.product_name}}" required>
            <div id="product-name-warning" style="display:none; color: red;">Please enter a valid product name.</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea class="form-control" id="description" name="description" rows="4" required>{{product.description}}</textarea>
            <div id="description-warning" style="display:none; color: red;">Please enter a valid description.</div>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price:</label>
            <input type="number" step="0.01" class="form-control" id="price" min="0" name="price" required value="{{product.price}}">
            <div id="price-warning" style="display:none; color: red;">Price cannot be 0.</div>
        </div>
        
        <div class="mb-3">
            <label for="offer" class="form-label">Offer:</label>
            <select class="form-select" id="offer" name="offer">
                {% if product.offer %}
                    <option value="{{ product.offer.id }}">{{product.offer.offer_title}}</option>
                    <option value="0">None</option>
                    {% for offer in offers %}
                        <option value="{{ offer.id }}">{{ offer.offer_title }}</option>
                    {% endfor %}
                {% else %}
                    <option value="">None</option>
                    {% for offer in offers %}
                        <option value="{{ offer.id }}">{{ offer.offer_title }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">Category:</label>
            <select class="form-select" id="category" name="category">
                {% if product.category %}
                    <option value="{{ product.category.id }}">{{ product.category.category_name }}</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category_name }}</option>
                    {% endfor %}
                {% else %}
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category_name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>

        <div class="mb-3">
            <label for="available-stock" class="form-label">Available Stock:</label>
            <input type="number" class="form-control" id="available-stock" name="available_stock" min="0" required value="{{product.available_stock}}">
        </div>

        <div class="mb-3">
            <label for="image-1" class="form-label">Image 1:</label>

            <!-- Image Preview -->
            {% if product.image_1 %}
                <div class="mb-2">
                    <img src="{{ product.image_1.url }}" alt="{{ product.product_name }}" width="100" height="100">
                </div>
            {% endif %}

            <input type="file" class="form-control image-input" id="image-1" name="image_1" accept=".jpg, .jpeg, .png, .gif">
            <div id="image1-warning" style="display:none; color: red;">Please upload a valid image file (.jpg, .jpeg, .png, .gif).</div>
        </div>

        <div class="mb-3">
            <label for="image-2" class="form-label">Image 2:</label>

            <!-- Image Preview -->
            {% if product.image_2 %}
                <div class="mb-2">
                    <img src="{{ product.image_2.url }}" alt="{{ product.product_name }}" width="100" height="100">
                </div>
            {% endif %}

            <input type="file" class="form-control image-input" id="image-2" name="image_2" accept=".jpg, .jpeg, .png, .gif">
            <div id="image2-warning" style="display:none; color: red;">Please upload a valid image file (.jpg, .jpeg, .png, .gif).</div>
        </div>

        <div class="mb-3">
            <label for="image-3" class="form-label">Image 3:</label>

            <!-- Image Preview -->
            {% if product.image_3 %}
                <div class="mb-2">
                    <img src="{{ product.image_3.url }}" alt="{{ product.product_name }}" width="100" height="100">
                </div>
            {% endif %}

            <input type="file" class="form-control image-input" id="image-3" name="image_3" accept=".jpg, .jpeg, .png, .gif">
            <div id="image3-warning" style="display:none; color: red;">Please upload a valid image file (.jpg, .jpeg, .png, .gif).</div>
        </div>

        <!-- Modal for cropping -->
        <div id="cropperModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Crop Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <img id="cropperImage" src="" alt="Crop Image Preview" style="max-width: 100%;">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="cropImage()">Crop</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="is-listed" class="form-label">Is Listed:</label>
            <select class="form-select" id="is-listed" name="is_listed" required>
                {% if product.is_listed %}
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                {% else %}
                    <option value="False">No</option>
                    <option value="True">Yes</option>
                {% endif %}
            </select>
        </div>

        <div class="mb-3">
            <label for="in-stock" class="form-label">In Stock:</label>
            <select class="form-select" id="in-stock" name="in_stock" required>
                {% if product.in_stock %}
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                {% else %}
                    <option value="False">No</option>
                    <option value="True">Yes</option>
                {% endif %}
            </select>
        </div>

        <div class="mb-3">
            <label for="material" class="form-label">Material:</label>
            <input type="text" class="form-control" id="material" name="material" value="{{product.material}}">
            <div id="material-warning" style="display:none; color: red;">Please enter a valid material.</div>
        </div>

        <div class="mb-3">
            <label for="color" class="form-label">Color:</label>
            <input type="text" class="form-control" id="color" name="color" value="{{product.color}}">
            <div id="color-warning" style="display:none; color: red;">Please enter a valid color.</div>
        </div>
        <div class="mb-3">
            <label for="width" class="form-label">Width:</label>
            <input type="text" class="form-control" id="width" name="width" value="{{product.width}}">
        </div>
        <div class="mb-3">
            <label for="length" class="form-label">Length:</label>
            <input type="text" class="form-control" id="length" name="length" value="{{product.length}}">
        </div>
        <div class="mb-3">
            <label for="height" class="form-label">Height:</label>
            <input type="text" class="form-control" id="height" name="height" value="{{product.height}}">
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Edit Product</button>
    </form>
</div>
<br><br>
<!-- cropper js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
<script>
    let cropper;
let activeInput;

document.querySelectorAll('.image-input').forEach(input => {
  input.addEventListener('change', function() {
    const file = this.files[0];
    activeInput = this;  // Store reference to the active input
    if (file) {
      const reader = new FileReader();
      reader.onload = function(e) {
        document.getElementById('cropperImage').src = e.target.result;
        $('#cropperModal').modal('show');

        if (cropper) {
          cropper.destroy();
        }

        cropper = new Cropper(document.getElementById('cropperImage'), {
          aspectRatio: 1,
          viewMode: 1,
        });
      };
      reader.readAsDataURL(file);
    }
  });
});

function cropImage() {
  if (cropper && activeInput) {
    const canvas = cropper.getCroppedCanvas();
    canvas.toBlob((blob) => {
      const dataTransfer = new DataTransfer();
      dataTransfer.items.add(new File([blob], 'cropped_image.png', { type: 'image/png' }));
      activeInput.files = dataTransfer.files;

      $('#cropperModal').modal('hide');
    });
  }
}

</script>
<!-- Form validation -->
<script>
    let productForm = document.getElementById('product-form');

    let productNameInput = document.getElementById('product-name');
    let productNameWarning = document.getElementById('product-name-warning');

    let descriptionInput = document.getElementById('description');
    let descriptionWarning = document.getElementById('description-warning');

    let priceInput = document.getElementById('price');
    let priceWarning = document.getElementById('price-warning');

    let image1Input = document.getElementById('image-1');
    let image1Warning = document.getElementById('image1-warning');

    let image2Input = document.getElementById('image-2');
    let image2Warning = document.getElementById('image2-warning');

    let image3Input = document.getElementById('image-3');
    let image3Warning = document.getElementById('image3-warning');

    let materialInput = document.getElementById('material');
    let materialWarning = document.getElementById('material-warning');

    let colorInput = document.getElementById('color');
    let colorWarning = document.getElementById('color-warning');

    let productNameRegex = /^[a-zA-Z -]+$/;
    let descriptionRegex = /^[a-zA-Z\.0-9 ,]+$/;
    let validImageRegex = /\.(jpg|jpeg|png|gif)$/i;
    let materialRegex = /^[a-zA-Z ]+$/;
    let colorRegex = /^[a-zA-Z ]+$/;

    // Product name validation
    productNameInput.addEventListener('input', function(){
        let productName = productNameInput.value.trim();
        if(!productNameRegex.test(productName) || productName === ""){
            productNameWarning.style.display = "block";
        } else {
            productNameWarning.style.display = "none";
        }
    });

    // Description validation
    descriptionInput.addEventListener('input', function(){
        let description = descriptionInput.value.trim();
        if(!descriptionRegex.test(description) || description === ""){
            descriptionWarning.style.display = "block";
        } else {
            descriptionWarning.style.display = "none";
        }
    });

    // Material validation
    materialInput.addEventListener('input', function(){
        let material = materialInput.value.trim();
        if(!materialRegex.test(material) || material === ""){
            materialWarning.style.display = "block";
        } else {
            materialWarning.style.display = "none";
        }
    });

    // Color validation
    colorInput.addEventListener('input', function(){
        let color = colorInput.value.trim();
        if(!colorRegex.test(color) || color === ""){
            colorWarning.style.display = "block";
        } else {
            colorWarning.style.display = "none";
        }
    });

    // Form submission validation
    productForm.addEventListener('submit', function(e){
        let isValid = true;

        // Product name validation
        let productName = productNameInput.value.trim();
        if(!productNameRegex.test(productName) || productName === ""){
            isValid = false;
            productNameWarning.style.display = "block";
        } else {
            productNameWarning.style.display = "none";
        }

        // Description validation
        let description = descriptionInput.value.trim();
        if(!descriptionRegex.test(description) || description === ""){
            isValid = false;
            descriptionWarning.style.display = "block";
        } else {
            descriptionWarning.style.display = "none";
        }

        // Price validation
        let price = priceInput.value;
        if(price === "" || price <= 0){
            isValid = false;
            priceWarning.style.display = "block";
        } else {
            priceWarning.style.display = "none";
        }

        // Image validation
        let image1 = image1Input.value.trim();
        let image2 = image2Input.value.trim();
        let image3 = image3Input.value.trim();
        if(image1 === ""){
            image1Warning.style.display = "none";
        }
        else if (!validImageRegex.test(image1)) {
            isValid = false;
            image1Warning.style.display = "block";
        } else {
            image1Warning.style.display = "none";
        }

        if(image2 === ""){
            image2Warning.style.display = "none";
        }
        else if (!validImageRegex.test(image2)) {
            isValid = false;
            image2Warning.style.display = "block";
        } else {
            image2Warning.style.display = "none";
        }
        
        if(image3 === ""){
            image3Warning.style.display = "none";
        }
        else if (!validImageRegex.test(image3)) {
            isValid = false;
            image3Warning.style.display = "block";
        } else {
            image3Warning.style.display = "none";
        }

        // Material validation
        let material = materialInput.value.trim();
        if(!materialRegex.test(material) || material === ""){
            isValid = false;
            materialWarning.style.display = "block";
        } else {
            materialWarning.style.display = "none";
        }

        // Color validation
        let color = colorInput.value.trim();
        if(!colorRegex.test(color) || color === ""){
            isValid = false;
            colorWarning.style.display = "block";
        } else {
            colorWarning.style.display = "none";
        }

        if (!isValid) {
            e.preventDefault();  // Prevent form submission if validation fails
        }
    });
</script>
{% endblock content %}