{% extends 'admin_app/admin_base.html' %}
{% load static %}
{% block content %}
<style>
    #unblock {
        width: 4rem;
        background-color: #d4a373;
        border: none;
        border-radius: 1rem;
        color: white;
    }

    #unblock:hover {
        background-color: #ff7d00;
    }

    #block {
        width: 4rem;
        background-color: #ff7d00;
        border: none;
        border-radius: 1rem;
        color: white;
    }

    #block:hover {
        background-color: #d4a373;
    }

    #search {
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 500;
        border-radius: 10px;
        border: 1px solid #666;
        padding-left: 13px;
        width: 12rem;
        height: 30px;

    }

    #search_btn {
        color: #000;
        background-color: violet;
        height: 30px;
        width: 5rem;
        border-radius: 15px;
        border: #666;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 500;
    }

    #tdiv {
        position: sticky;
        z-index: 1;
        top: 4.2rem;
        background-color: white;
        width: 100%;
    }
</style>
<div class="container mt-5">
    <div class="col-sm-5" id="tdiv">
        <h2 class="mb-4">Offer</h2>
        <form action="" method="get"">
                <input id=" search" type="search" name="search_query" placeholder="Search offer..." {% if query %}
            value="{{query}}" {% endif %}>
            <button id="search_btn" type="submit">Search</button>
        </form>
        <a href="{% url 'admin_app:add_offer' %}"><button id="search_btn" type="button"
                style="margin-left: 50rem;transform: translateY(-2rem);">Add</button></a>
    </div><br>

    <!-- alert box  -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {% endif %}

    <div class="table-responsive">
        <br><br>
        <table class="table table-striped table-hover" style="transform: translateY(-2rem);">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Offer title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Offer percentage</th>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                    <th scope="col">Action</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for offer in offers %}
                <tr>
                    <td>{{offer.offer_title}}</td>
                    <td>{{offer.offer_description}}</td>
                    <td>{{offer.offer_percentage}}</td>
                    <td>{{offer.start_date}}</td>
                    <td>{{offer.end_date}}</td>
                    <td>
                        <a href="{% url 'admin_app:edit_offer' offer.id %}"><button id="unblock"
                                type="button">Edit</button></a>
                    </td>
                    <td>
                        <form class="remove_offer" action="{% url 'admin_app:remove_offer' offer.id %}" method="post">
                            {% csrf_token %}
                            <button id="block" type="submit">Remove</button>
                        </form>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- remove offer -->
<script>
    document.querySelectorAll(".remove_offer").forEach(form => {
        form.addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent the form from submitting immediately

            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    // Show success alert after deletion confirmation
                    Swal.fire({
                        title: "Deleted!",
                        text: "Your coupon has been deleted.",
                        icon: "success",
                        timer: 1500,
                        showConfirmButton: false
                    }).then(() => {
                        // Submit the form after confirmation
                        form.submit();
                    });
                }
            });
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous">
    </script>
<script>
    setTimeout(() => {
        $(".alert").alert("close")
    }, 3000)
</script>
{% endblock content %}