{% extends 'admin_app/admin_base.html' %}
{% load static %}
{% block content %}
<style>
    #unblock{
        width: 4rem;
        background-color: #d4a373;
        border: none;
        border-radius: 1rem;
        color: white;
    }
    #unblock:hover{
        background-color: #ff7d00;
    }
    #block{
        width: 4rem;
        background-color: #ff7d00;
        border: none;
        border-radius: 1rem;
        color: white;
    }
    #block:hover{
        background-color: #d4a373;
    }
    #search{
		color: black;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		font-weight: 500;
		border-radius: 10px;
        border: 1px solid #666;
		padding-left: 13px;
		width: 12rem;
		height: 30px;
		
	}
	#search_btn{
		color: #000;
		background-color: violet;
		height: 30px;
        width: 5rem;
		border-radius: 15px;
		border: #666;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		font-weight: 500;
	}
    #tdiv{
        position: sticky;
        z-index: 1;
        top: 4.2rem;
        background-color: white;
        width: 100%;
    }
</style>
<div class="container mt-5">
    <br><br><br>
        <div class="col-sm-5" id="tdiv">
            <h2 class="mb-4">Product</h2>
            <form action="" method="get"">
                <input id="search" type="search" name="search_query" placeholder="Search product..." value="{{query}}" >
                <button id="search_btn" type="submit">Search</button>
            </form>
            
            <a href="{% url 'admin_app:add_product' %}" ><button id="search_btn" type="button" style="margin-left: 50rem;transform: translateY(-2rem);">Add</button></a>
        </div><br>
    <!-- alert box  -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                <strong>{{message}}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <script>
        setTimeout (() => {
            $(".alert").alert("close")
        },3000)
    </script>

    <table class="table table-striped table-hover" style="transform: translateY(-2rem);">
        <thead class="table-dark">
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Offer</th>
                <th scope="col">Deal price</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
                <th scope="col">Available</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{product.product_name}}</td>
                <td>{{product.category.category_name}}</td>
                <td>{{product.price}} Rs</td>
                <td>
                    {% if product.offer %}
                        {{product.offer.offer_title}}
                    {% else %}
                        No offer
                    {% endif %}
                </td>
                <td>{{product.discount_price}} Rs</td>
                <td><img src="{{product.image_1.url}}" alt="{{product.product_name}}" width="50" height="50"></td>
                <td>
                    <a href="{% url 'admin_app:edit_product' product.id %}" ><button id="unblock" type="button" >Edit</button></a>
                </td>
                <td>
                    <form action="{% url 'admin_app:product_listed' product.id %}" method="post">
                        {% csrf_token %}
                        {% if product.is_listed %}
                            <button id = "unblock" type="submit" class="btn_3">Unlist</button>
                        {% else %}
                            <button id="block" type="submit" class="btn_3">List</button>
                        {% endif %}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
{% endblock content %}