{% extends 'admin_app/admin_base.html' %}
{% load static %}
{% block content %}
<style>
    .unlist-btn {
        width: 4rem;
        background-color: #d4a373;
        border: none;
        border-radius: 1rem;
        color: white;
    }

    .unlist-btn:hover {
        background-color: #ff7d00;
    }

    .list-btn {
        width: 4rem;
        background-color: #ff7d00;
        border: none;
        border-radius: 1rem;
        color: white;
    }

    .list-btn:hover {
        background-color: #d4a373;
    }

    #search {
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 500;
        border-radius: 10px;
        border: 1px solid #666;
        padding-left: 13px;
        width: 12rem;
        height: 30px;

    }

    #search_btn {
        color: #000;
        background-color: violet;
        height: 30px;
        width: 5rem;
        border-radius: 15px;
        border: #666;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 500;
    }

    #tdiv {
        position: sticky;
        z-index: 1;
        top: 4.2rem;
        background-color: white;
        width: 100%;
    }
</style>

<div class="container mt-5">
    <div class="col-sm-5" id="tdiv">
        <h2 class="mb-4">Top Selling Product</h2>
        <!-- breadcrumbs start-->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'admin_app:admin_product' %}">Product</a></li>
                <li class="breadcrumb-item"><a href="">Top selling products</a></li>
            </ol>
        </nav><br>
    </div><br>

    <!-- alert box  -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {% endif %}



    <div class="table-responsive">
        <table class="table table-striped table-hover" style="transform: translateY(1rem);">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Offer</th>
                    <th scope="col">Deal price</th>
                    <th scope="col">Image</th>
                    <th scope="col">Sold count</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr id="product-row-{{ product.id }}">
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.category.category_name }}</td>
                    <td>
                        <div class="d-flex">
                            {{ product.available_stock }}
                            <button type="button" class="btn btn-sm btn-outline-danger ms-4" data-bs-toggle="modal"
                                data-bs-target="#AddStockModal{{ product.id }}">
                                Add
                            </button>
                        </div>
                    </td>
                    <td>{{ product.price }} Rs</td>
                    <td>
                        {% if product.offer %}
                        {{ product.offer.offer_title }}
                        {% else %}
                        No offer
                        {% endif %}
                    </td>
                    <td>{{ product.discount_price }} Rs</td>
                    <td><img src="{{ product.image_1.url }}" alt="{{ product.product_name }}" width="50" height="50">
                    </td>
                    <td>{{product.sold_count}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br>
<script>
    setTimeout(() => {
        $(".alert").alert("close")
    }, 3000)
</script>
{% endblock content %}