{% extends 'admin_app/admin_base.html' %}
{% load static %}
{% block content %}
<style>
    .unblock-btn{
        width: 4rem;
        background-color: #d4a373;
        border: none;
        border-radius: 1rem;
        color: white;
    }
    .unblock-btn:hover{
        background-color: #ff7d00;
    }
    .block-btn{
        width: 4rem;
        background-color: #ff7d00;
        border: none;
        border-radius: 1rem;
        color: white;
    }
    .block-btn:hover{
        background-color: #d4a373;
    }
    #search{
		color: black;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		font-weight: 500;
		border-radius: 10px;
        border: 1px solid #666;
		padding-left: 13px;
		width: 12rem;
		height: 30px;
		
	}
	#search_btn{
		color: #000;
		background-color: violet;
		height: 30px;
        width: 5rem;
		border-radius: 15px;
		border: #666;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		font-weight: 500;
	}
    #tdiv{
        position: sticky;
        z-index: 1;
        top: 4.2rem;
        background-color: white;
        width: 100%;
    }
</style>

<div class="container mt-5">
    <div class="col-sm-5" id="tdiv">
        <h2 class="mb-4">User Information</h2>
        <form action="" method="get">
            <input id="search" type="search" name="search_query" placeholder="Search users..." {% if query %} value="{{ query }}" {% endif %} >
            <button id="search_btn" type="submit">Search</button>
        </form>
    </div><br>

    <div class="table-responsive">
        <br><br>
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Email</th>
                    <th scope="col">Referral code</th>
                    <th scope="col">Date Joined</th>
                    <th scope="col">Access</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr id="user-row-{{ user.id }}">
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.referral.referral_code }}</td>
                    <td>{{ user.date_joined }}</td>
                    <td>
                        <button 
                            id="block-button-{{ user.id }}" 
                            class="btn_3 {% if user.is_block %}unblock-btn{% else %}block-btn{% endif %}"
                            data-user-id="{{ user.id }}"
                            style="width: 4rem; border-radius: 1rem; color: white;"
                        >
                            {% if user.is_block %}Unblock{% else %}Block{% endif %}
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btn_3").on("click", function (e) {
            e.preventDefault();
            var button = $(this);
            var userId = button.data("user-id");

            $.ajax({
                url: "{% url 'admin_app:user_block' 0 %}".replace("0", userId),
                type: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                success: function (response) {
                    if (response.is_block) {
                        button.removeClass("block-btn").addClass("unblock-btn").text("Unblock").css("background-color", "#d4a373");
                    } else {
                        button.removeClass("unblock-btn").addClass("block-btn").text("Block").css("background-color", "#ff7d00");
                    }
                },
                error: function () {
                    alert("There was an error processing your request.");
                },
            });
        });
    });
</script>
{% endblock content %}
